/* Base styles for all devices */
.exams-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin:  auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question-list {
    width: 100%;
}

.examdetailname {
    color: #131313;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.examdetailtime {
    color: #131313;
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding: 6px 0;
}

.exam-details h3 {
    color: #131313;
}

.question-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    cursor: pointer;
    margin-left: 10px;
    color: #888;
    transition: color 0.3s;
}

.icon:hover {
    color: #333;
}


/* Responsive styles */

/* For devices with a maximum width of 768px (e.g., tablets in portrait mode) */
@media only screen and (max-width: 768px) {
    .examdetailname {
        font-size: 24px;
    }

    .examdetailtime {
        font-size: 18px;
    }

   

  
}

/* For devices with a maximum width of 480px (e.g., smartphones) */
@media only screen and (max-width: 480px) {
    .exams-details {
        padding: 15px;
        margin: 20px auto;
    }

    .examdetailname {
        font-size: 20px;
    }

    .examdetailtime {
        font-size: 16px;
    }

    .question-item {
        padding: 10px;
        font-size: 12px;
    }


   
}
