/* Exams Container */
.exams-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  text-align: center;
}
.exambox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 30px;
}
/* Title */
.exams-container h2 {
  font-size: 28px;
  font-weight: bold;
  color: #442e79;
 
}
.exam-duration {
  font-size: 18px;
  font-weight: bold;
  color: #131313; /* Highlight duration in yellow */
}

.exam-time {
  font-size: 14px;
  margin-top: 5px;
}

/* Exam List */
.exam-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Exam Item Card */
.exam-item {
  background: #f3effc;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-left: 3px solid #452e7917;
  cursor: pointer;
}

.exam-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(68, 46, 121, 0.2);
}

/* Exam Name */
.exam-item strong {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #442e79;
  margin-bottom: 8px;
}

/* Exam Duration */
.exam-item span {
  font-size: 15px;
  color: #555;
}

/* View Icon */
.view-icon {
  position: absolute;
  right: 15px;
  top: 18px;
  color: #442e79;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}
.viewuser-icon {
  position: absolute;
  right: 45px;
  top: 18px;
  color: #442e79;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.view-icon:hover {
  color: #2f1e57;
  transform: scale(1.1);
}

/* Add Exam Button */
.add-exam-btn {
  margin-top: 25px;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #442e79;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px
}

.add-exam-btn:hover {
  background: #131313;
  transform: scale(1.05);
}
.exam-time-label {
  font-weight: bold;
  font-size: 20px;
}

/* Responsive */
@media (max-width: 480px) {
  .exams-container {
    width: 90%;
    padding: 15px;
  }

  .exam-item {
    width: 100%;
  }
  .exams-container h2 {
    font-size: 24px;
   
  
  }
  .exambox{
    padding: 0 10px;
  }
}
