.footer {
  background: #fff; /* Dark background */
  color: black; /* White text */
  text-align: center;
  padding: 15px;
  font-size: 14px;
  position: relative;
  font-weight: 600;
  bottom: 0;
  
}